$white_color: white;
$special_offers: #303337;
$subcribe: #2b2e32;
$payments: #1d1f22;
$color_blu: #427ed1;
$color_dark:#333333;
$color_primary:$color_dark;
$gray_color: #f6f6f6;
$color_light:$gray_color